@charset "UTF-8";

/** --------------------------------------------------
    Start
--------------------------------------------------- */
@import "init/mixins-functions";    // mixins, fonctions
@import "init/rebase";              // init html tags
@import "init/config";              // theme variables

/** --------------------------------------------------
    Common rules
--------------------------------------------------- */
@import "partials/common";          // headings, links
@import "partials/icons";           // icons

/** --------------------------------------------------
    layout elements
--------------------------------------------------- */
@import "partials/global_layout";   // containers
@import "partials/header";
@import "partials/footer";
@import "partials/sidebar";
@import "partials/content";
@import "partials/post";
@import "partials/archive";

/** --------------------------------------------------
    Modules
--------------------------------------------------- */
@import "modules/off-canvas";

/*** dev only ***/
#main {
    //@include debug-vertical-alignment;
}

/*** SPECIFIC DSN 15 **/

.blognav__widgets li, .blogextra__widgets li {
    display: flex;
    padding: 0;
}

.blognav__widgets li ul, .blogextra__widgets li ul {
    margin-left: 0;
    padding: 0;
}

.sidebar a:link, .sidebar a:visited {
	flex: auto;
	padding: 0.25em;
}