@charset "UTF-8";

/** specific cpu  */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
	url(/themes/cpu-15/fonts/RobotoCondensed-Regular.woff2) format('woff2'),
	url(/themes/cpu-15/fonts/RobotoCondensed-Regular.ttf) format('truetype');
	font-display : fallback;
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
	url(/themes/cpu-15/fonts/RobotoCondensed-Bold.woff2) format('woff2'),
	url(/themes/cpu-15/fonts/RobotoCondensed-Bold.ttf) format('truetype');
	font-display : fallback;
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;                                            
	font-weight: 400;                                              
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
	url(/themes/cpu-15/fonts/RobotoCondensed-Italic.woff2) format('woff2'),
	url(/themes/cpu-15/fonts/RobotoCondensed-Italic.ttf) format('truetype');
	font-display : fallback;
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
	url(/themes/cpu-15/fonts/RobotoCondensed-BoldItalic.woff2) format('woff2'),
	url(/themes/cpu-15/fonts/RobotoCondensed-BoldItalic.ttf) format('truetype');
	font-display : fallback;
}

:root {
	color-scheme: dark;
}

/* Global default style for cpu-audio, usign var. Integrators may override them */


@media (max-width: 640px) {
	:root , .interface {
		--cpu-font-size : 13px;
		--cpu-height : 48px;
		--cpu-elapse-width : 140px;
		--cpu-min-padding : 4px;
	}
}

@media (max-width: 480px) {
	:root , .interface {
		--cpu-elapse-width : 70px;
	}

}

body/*:root*/ {
	scroll-margin: 100px;
	color-scheme: light dark;
	--cpu-font-family : "Roboto Condensed", Lato, "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	--cpu-font-size : 16px; /* should be inverted  */
	--cpu-line-height : 1;
	--background-neutral : #eee;
	--color-neutral : #222;
	--background-img : url(/themes/cpu-15/img/bg_light.png);
	--background-main : #fff;
	--background-comment : #eff;
	--link : #D10000;
	--link-focus : #f9f9f9;
	--link-side : #ee0f0f;
	--quote : #626262;
	--calque-bg : #ffffff77;
	--calque-out-within : #ffffffbb;
	--calque-out : white;
	/*--cpu-focus-color : #111;*/

	--cpu-height : 64px;
	--cpu-font-small-size : calc(var(--cpu-font-size) * 0.8);
	--cpu-background : #333;
	--cpu-color : #ddd;
	--cpu-playing-background : #444;
	--cpu-playing-color : #fff;
	--cpu-focus-background : #fff;
	--cpu-focus-color : #000;
	--cpu-error-background : #a00 ;
	--cpu-error-color : #ff7 ;
	--cpu-popup-background : #aaa;
	--cpu-popup-color : #333;
	--cpu-cue : #000;
	--cpu-timeline-limits : #f00;
	--cpu-elapse-width : 160px;
	--cpu-min-padding : 16px;
	--cpu-inner-shadow : inset 0px 5px 10px -5px black;
	--cpu-color-transitions : 0s;
	--cpu-background-transitions : 0s;
	/* --cpu-unfold : 0s; not actived */
}

@media (prefers-color-scheme: dark) {
	body /*:root*/ {
		--color-neutral : #ddd;
		--background-neutral : #111;
		--background-img : url(/themes/cpu-15/img/bg_dark.png);
		--background-main : #000;
		--background-comment : #122;
		--link : #F1CB29;
		--link-focus : #eee;
		--quote : #666;
		--calque-bg : #00000077;
		--calque-out-within : #000000bb;
		--calque-out : black;

		--cpu-background : #ddd;
		--cpu-color : #222;
		--cpu-playing-background : #eee;
		--cpu-playing-color : #111;
		--cpu-focus-background : #000;
		--cpu-focus-color : #fff;
	}
}


/* Fallback */
audio[controls] {
	display : block;
	width : 100%;
}


/** --------------------------------------------------
		Start
--------------------------------------------------- */
/* largeur des paddings et border compris dans "width" */
*,
*:after,
*:before {
	box-sizing: border-box; }

html {
	text-size-adjust: 100%;
	margin: 0;
	padding: 0; 
	scroll-behavior:smooth;
}

body {
	margin: 0;
	padding: 0; 
	background: var(--background-neutral) var(--background-img);
	color: var(--color-neutral);
	font-size: var(--cpu-font-size);
	line-height: 1.5;
	font-family: var(--cpu-font-family); 
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--cpu-font-family);
		line-height: 1.2;
}

a {
	background: transparent; }

:focus {
	outline: var(--link) 2px solid; }

@Media (prefers-reduced-motion: no-preference) {
	:focus {
		transition: outline-offset .25s ease;
		outline-offset: 5px;
	}
}

a:active, a:hover {
	outline: none; }

a img {
	border: none; }

q, cite {
	font-style: italic; }


sup, sub {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -0.5em; }

sub {
	bottom: -0.25em; }

abbr {
	font-variant: small-caps;
}

abbr[title] {
	border-bottom: 1px dotted;
	cursor: help; }

b, strong {
	font-weight: bold;
	font-size: 0.9375em; }

small {
	font-size: 80%; }

dfn {
	font-style: italic; }

hr {
	box-sizing: content-box;
	height: 0; }

mark {
	background: #ff0;
	color: #000; }

/*
code, pre, samp {
	font-family: monospace, serif;
	font-size: 1em; }
*/
pre {
	white-space: pre-wrap; }

fieldset {
	margin: 0;
	padding: 0;
	border: none; }

input, button, select {
	vertical-align: middle; }

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0; 
	color : var(--color-neutral);
	background : var(--background-main);
	border-radius: .25em;
	border: 2px solid var(--color-neutral);
	padding : 2px;
}

button, input {
	line-height: normal; }

button {
	cursor: pointer; }

button[disabled] {
	cursor: default; }

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	border: none; }

input[type="search"] {
	/*
	-webkit-appearance: textfield; 
	appearance: textfield; 
	*/

	-webkit-appearance: none; 
	appearance: none; 
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

textarea {
	overflow: auto;
	vertical-align: top; }

table {
	border-collapse: collapse;
	margin-bottom: 1.5em; }

td, th {
	padding: 1px;
	vertical-align: top;
	text-align: left; }

td:first-child, th:first-child {
	empty-cells: hide; }


/* HTML5 for old browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section {
	display: block; }

audio, canvas, video, summary {
	display: inline-block; }

figure {
	margin: 0; }

[hidden], template {
	display: none; }

svg:not(:root) {
	overflow: hidden; }

/* Headings reset */
h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight : bold; /* for paint before having loaded roboto */
	margin: 0; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v *
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

	*/

/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.8.0
* Docs at http://davidtheclark.github.io/scut
*/
/** --------------------------------------------------
		Common rules
--------------------------------------------------- */
/* Typographie */

h1 {
	font-size: 3em;
	line-height: 1.2; }

h2 , .verybig {
	font-size: 4em;
	line-height: 1.2;
	margin-bottom: 0.5em; }

h3 , .notsobig {
	font-size: 1.75em;
	margin-top: 0.5714286em;
	margin-bottom: 0.4285714em; }

h4 {
	font-size: 1.3125em;
	margin-top: 1.1428571em;
	margin-bottom: 0.7619048em; }

h5 {
	font-size: 1.125em;
	margin-top: 1.5555556em; }

h6 {
	font-size: 1em;
	margin-bottom: 0; }

a {
	color: var(--link);
	text-decoration: none;
}

/* we have many links in some text, not useful. (and list with links are not underlined)
p a:link, p a:visited {
	border-bottom: 1px solid gainsboro; 
}
p a:visited {
	border-bottom-style: dotted; 
}
p a:hover, p  a:active {
	border-color: var(--link); 
}*/


hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(left, #dcdcdc, var(--quote), #dcdcdc); }

blockquote, q {
	font-style: italic; }

blockquote {
	/* font-size: 1.125em; */
	line-height: 1.33;
	quotes: '\201C' '\201D';
	margin-top: 1.7777778em; }

blockquote:before,
blockquote:after {
	margin-top: 0;
	font-size: 2em;
	display: block;
	line-height: .25;
	margin-bottom: 0; }

blockquote:before {
	content: open-quote;
/*  float: left;
	margin-right: .25em; */}

blockquote:after {
	content: close-quote;
	text-align: right; }

q, cite, quote  { 
		quotes:"\201c" "\201d" "\00ab\00a0" "\00a0\00bb"
}

code, pre, samp {
	background-color: #555;
	color: #EFD540;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 0.875em;
	padding: .1em .2em; }


kbd {
		background: #eee;
		border-color:#ccc #aaa #888 #bbb;
		border-style:solid;
		border-width:2px 3px 3px 2px;
		padding:0 2px;
		color:#000000;
		display:inline-block;
		min-width:15px;
		text-align:center;
		white-space:nowrap;
		box-shadow:0 0 5px rgba(0,0,0,0.5);
}

pre {
	padding: .5em 1em; }

	
p, ul, ol {
	margin-top: 1em;
	margin-bottom: .5em; }

ul ul, ul ol, ol ol, ol ul {
	margin-top: .5em; }

.post-date,
.post-cat,
.post-tags-list
/*.post-permalink, 
.comment_count,
.attach_count */ {
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-right: .5em; }

/*.post-date {
	background-image: url(/themes/cpu-15/img/icon_date.png); } */

.post-cat {
	background-image: url(/themes/cpu-15/img/icon_category.png); }

.post-tags-list {
	background-image: url(/themes/cpu-15/img/icon_tags.png);
	padding-left: 22px !important; }

/*
.comment_count {
	background-image: url(/themes/cpu-15/img/icon_comments.png); }

.attach_count {
	background-image: url(/themes/cpu-15/img/icon_attach.png); }

.post-permalink {
	background-image: url(/themes/cpu-15/img/icon_permalink.png); }*/

/** --------------------------------------------------
		layout elements
--------------------------------------------------- */

#main {
	/*
	--cpu-background : #333;
	--cpu-playing-background : #111;*/

	background-color: var(--background-main);
	padding: 1em .5em 2em; }

#main a  , .link_und a{
	text-decoration: underline solid 1px #777;
}

#main a:hover, #main a:active , .link_und a:hover, .link_und a:active , .link_und a:focus  {
	text-decoration: underline solid 1px var(--link);
}


#page {
	max-width: 60em;
	margin: 0 auto;
	padding: 0; 
}

.header {
	position: relative;
	padding: .25em 0; }

@media all and (max-width: 30em) {
	#main {
		padding: .5em; } }
@media screen and (min-width: 80.1em) and (max-width: 100em) {
	#page {
		max-width: 80em; }

	#main {
		flex : 0 0 75%;
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: border-box;
		word-wrap: break-word;
	}

	#sidebar {
		flex: 0 0 25%;
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: border-box;
		word-wrap: break-word;

	}
}
@media screen and (min-width: 100.1em) {
	body {
		--cpu-font-size : 20px;
		--cpu-line-height : 1;
	}

	#page {
		max-width: 103em; }

	.header {
		flex: 0 0 66.7%;
		padding-bottom: 0;
		box-shadow: rgba(0,0,0,0.5) 1px 1px 10px;
	}

	#main {
		flex: 0 0  66.7%;
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: border-box;
		word-wrap: break-word;
	}

	#sidebar {
		flex: 0 0 33.3%;
		display : flex;
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: border-box;
		word-wrap: break-word;  
	}

	#blognav, #blogextra {
		flex: 0 0 49%;
		vertical-align: top; } }

	
#skip-links {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	text-align: right; 
	height : 0;
}
#skip-links:focus-within {
	height : auto;
}
#skip-links li {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 0.75em;
	line-height: 1;
	padding-bottom: .5em;
}


@media screen and (max-width: 60em) {
	.header {
		padding-bottom: 0; }

	.header__nav {
		margin-left: -.5em;
		margin-right: -.5em; }
		.header__nav li {
			display: block;
			margin-right: 0;
			border-bottom: 1px solid white; } }
@media screen and (max-width: 30em) {
	#skip-links {
		text-align: center;
		font-size: 0.625em;
		line-height: 2.4em; }

		}
@media screen and (max-width: 40em) {
	.site-title {
		font-size: 1.8em; }
		 }

.blogcustom__title {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }


.sidebar {
	padding-top: 2em;
	background: var(--color-neutral) url(/themes/cpu-15/img/bg_dark.png);
	color: white;
	text-shadow: var(--color-neutral) 0px -1px 0px; 
flex: 0 0 33%;

}
	.sidebar a:link, .sidebar a:visited {
		color: white;
		border: none; }
	/* .sidebar .serie-current, */
	.sidebar a:hover, .sidebar a:focus, .sidebar a:active,
	.sidebar li:hover, .sidebar li:focus {
		background-color: var(--link-side); 
		text-decoration: none !important;
	}

.blognav__title,
.blogextra__title {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

.blognav__widgets h3,
.blognav__widgets h4,
.blogextra__widgets h3,
.blogextra__widgets h4 {
	font-size: 1em;
	color: white;
	font-weight: bold; }

.blognav__widgets h3,
.blogextra__widgets h3 {
	text-transform: uppercase; }


.blognav__widgets h4,
.blogextra__widgets h4 {
	margin-top: 1.5em;
	margin-bottom: 0; }

.blognav__widgets .widget, .blogextra__widgets .widget {
	padding: 1em;
	font-size: .875em;
	line-height: 1.71429; }
	.blognav__widgets .widget > ul, .blogextra__widgets .widget > ul {
		list-style: none;
		padding-left: 0; }
		.blognav__widgets .widget > ul li, .blogextra__widgets .widget > ul li {
			list-style-image: none;
			list-style-type: none;
			margin-left: 0; }

.blognav__widgets ul, .blogextra__widgets ul {
	margin: 0; }
.blognav__widgets li, .blogextra__widgets li {
	display: block;
	padding: .25em;
	border-bottom: 1px solid gainsboro; }
.blognav__widgets li ul, .blogextra__widgets li ul {
	margin-left: -.25em; }
.blognav__widgets li li, .blogextra__widgets li li {
	border-top: 1px solid gainsboro; }
.blognav__widgets li li:last-child, .blogextra__widgets li li:last-child {
	border-bottom: none; }

#q {
	width: 60%; }

.series-posts .current {
	background-color: black;
	padding: .25em;
}

.category-current {
	margin-left: -2em;
	background-color: black; }

.category-current ul {
	background-color: var(--color-neutral); }

.sidebar li:hover ul {
	background: url(/themes/cpu-15/img/bg_dark.png); }

@media screen and (min-width: 40.1em) and (max-width: 80em) {

	#sidebar {
		display : flex;
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: border-box;
		word-wrap: break-word;  
	}

	#blognav , #blogextra {
		flex: 0 0 49%;
		vertical-align: top; }

 }

/* *** navigation *** */
.navlinks {
	color: white;
	margin: 0; }

/* *** content info *** */
#content-info {
	margin-bottom: 1em;
	padding: 0;
	font-size: 0.875em; }


	#content-info ul {
		margin-top: 0.5714286em;
		padding-left: 0; }

.content-info__feed {
	display: inline-block;
	vertical-align: top;
	list-style-type: none; }
	.content-info__feed li {
		display: inline;
		margin-right: 1.5em; }

.content-info__sub-cat {
	margin-top: 2em; }
	.content-info__sub-cat h3 {
		font-weight: bold; }


/**
		POST
------------------------------- */
.post {
	margin: 0 auto; 
}

.post-day-date {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 0.8571429em; }

.post-meta {
	padding: 0.5714286em 1.1428571em;
	margin-bottom: 0em;
	clear: both; }

.post-info {
	margin: .5em 0; }

.full .post-info,
.short .post-info,
.post-cat,
.post-tags-list {
	margin: .5em 0;
	display: inline;
	vertical-align: baseline; }

/* EVOLUTION 2018 BEGINS */

.minimal {
	/* structure : article.short > a.block > h3 > span.calque  */
	margin: 0;
	padding : 0;
	display : flex;
}
.minimal > a {
	margin :  0;
	padding : 1em 0;
	display : flex;
	flex-direction: column;
	width : 100%;
}

.minimal > a h3 {
	align-items : middle;
}


/* EVOLUTION 2018 ENDS */

.post-tags-list {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	 }

.post-tags-item {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	vertical-align: top; }
	.post-tags-item a:after {
		content: "."; }

.post-info-co {
	margin: .5em 0; }

.post-title {
	text-align: center;
}
	.post-title a, .post-title a:link, .post-title a:visited {
		border-bottom-color: white; }
	.post-title a:hover, .post-title a:focus, .post-title a:active {
		background-color: transparent; }
	@media screen and (max-width: 40em) {
		.post-title {
			font-size: 2em; } }

.post-content {
	margin : 0 auto 1em;

	max-width: 42em;
	 }


.post-attachments {
	position: relative;
	padding: 0 2.5em .25em;
	border: 1px solid gainsboro;
	box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2); }

.post-attachments:before {
	content: url(/themes/cpu-15/img/icon_attachments.png);
	content: url(/themes/cpu-15/img/icon_attachments.svg);
	display: block;
	position: absolute;
	margin-top: -.33em;
	margin-left: -2em; }

.post-attachments-title {
	padding-top: .75em;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--quote); }

.post-attachments-list {
	padding-left: 1em;
	margin-top: .5em; }

.post-feedback {
	max-width: 42em;
	margin: 3em auto;
	clear: both; }

.post-feedback h3 {
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	color: var(--quote); }

.comments-list {
	list-style: none;
	padding-left: 0; }
	.comments-list li {
		list-style-image: none;
		list-style-type: none;
		margin-left: 0; }

.comment  {
	overflow: hidden;
	padding: .1em 1.5em .1em 4em;
	margin-bottom: 2em;
	border-radius: .25em;
	box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2); 
	background-color: var(--background-comment); }


.comment-number {
	display: block;
	float: left;
	width: 2.5em;
	height: 2.5em;
	margin-left: -3.5em;
	margin-right: 1em;
	margin-top: -.5em;
	border-radius: 50%;
	background-color: var(----background-main);
	z-index: 1000;
	line-height: 2.5em;
	text-align: center; }

.comment-form  {
	overflow: hidden;
	padding: .75em 3em .1em;
	margin-bottom: 2em;
	border-radius: .25em;
	box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2);
	border : 4px solid  var(--background-comment);

	}

.field label {
	display: inline-block;
	width: 10em; }

.field input {
	max-width: 100%; }

.field textarea {
	display: block;
	width: 100%; }

.form-help, .remember {
	font-size: 0.875em; }

#pr {
	background-color: var(--background-neutral);
	padding: .5em;
	border: 2px solid #6c7c7c;
	margin-bottom: 2em; }

.error {
	background-color: var(--link);
	color: white;
	padding: .25em .5em; }

/* Button Style */
.buttons {
	text-align: right; }

button.submit, button.preview {
	box-shadow: inset 0 1px 3px 0 #778f96;
	background-color: #778f96;
	border-radius: .25em;
	border: 1px solid #5d757d;
	display: inline-block;
	cursor: pointer;
	color: black; /* var(--background-main);*/
	padding: .25em .5em;
	text-decoration: none;
	text-shadow: 0 -1px 0 var(--quote); }

button.submit:hover,
button.submit:focus,
button.preview:hover,
button.preview:focus {
	cursor: pointer;
	background-color: #5d757d; }

button.submit:active, button.preview:active {
	position: relative;
	top: 1px; }

@media all and (max-width: 30em) {
	.comment-number {
		margin-top: 0; }

	.comment-content {
		margin-left: -3.5em;
		margin-right: -1em; }

	.comment-form  {
		padding: .75em .5em .1em; } }
@media all and (min-width: 30.1em) {
	.post-day-date:after,
	.post-day-date:before {
		display: inline-block;
		height: 1px;
		content: " ";
		background-color: gainsboro;
		text-shadow: none;
		width: 20%;
		margin-bottom: .33em; }

	.post-day-date:after {
		margin-left: 2em; }

	.post-day-date:before {
		margin-right: 2em; }

	.post-feedback h3:after,
	.post-feedback h3:before {
		display: inline-block;
		height: 1px;
		content: " ";
		background-color: gainsboro;
		text-shadow: none;
		width: 20%;
		margin-bottom: .33em; }

	.post-feedback h3:after {
		margin-left: 2em; }

	.post-feedback h3:before {
		margin-right: 2em; } }

/* ---------------------------------------------------------------- archives */
/* general */
@media all and (min-width: 30em) {
	.dc-archive .content-inner {
		margin-left: 3em;
		margin-right: 3em; } }


/** --------------------------------------------------
		Modules
--------------------------------------------------- */
/* *** MODULE sidebar off-canvas *** */


#content-info h2,
.content-info__feed {
	margin-right: 3.5em; }


.banner {
	display : flex;
			flex-direction: row;
}

h1 {
	display : none;
}

#logo {
	display : inline-block;
	flex: 0 0 64px;
	padding : 0;
	margin : 0;
	border-bottom : none !important;
	height : 64px;
}

.header {
	background : var(--background-neutral) var(--background-img);
	line-height: normal;
		padding-top : 20px;
		position: sticky;
		top: -20px;
	z-index : 9;
	margin-bottom : 1em;
}

.banner * {
	line-height: normal;
	box-sizing: initial;
}

menu, menu ul {
	display : flex;
	vertical-align : top;
	padding : 0;
	margin : 0;
	width : 100%;
}
menu li {
		flex : 1 0 auto;
		list-style : none;
		overflow:hidden;
		vertical-align : middle;
}
menu li a {
		display : block;
		width : 100%;
		padding : 4px;
		color : white;
		vertical-align : bottom;
		text-align : center;
		font-weight: bold;
		text-decoration : none;
}

menu a:hover, menu a:focus {
		color : black;
		background : white
}

#ondemiroir_domain {
		flex: 1 1 auto;
		height : 64px;
		font-size : 3em;
		position : relative;
		overflow : hidden;
}


#motto, #header-control {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 64px;
	/*
	--cpu-background : #555;
	--cpu-playing-background : #555;
	*/
}

#motto {
	font-size : 18px;
	padding : 8px;
	overflow : hidden;
	text-overflow: ellipsis;
}

#header-control {
	display: flex;
	top : -80px;
	align-items: center;
	min-width: 100%;
	min-height: 64px;
	background: #555;
}

#header-control cpu-controller {
	flex : 1 1 auto;
}

body.cpu-audio-with-webcomponents.delegated #header-control, body.cpu-audio-with-webcomponents #header-control:focus-within {
	top : 0px;
}

/** CUT HERE END  */


.fond_bleu {
	background : #009EDA;
}
.fond_vert {
	background : #4BB249;
}
.fond_jaune {
	background : #F1CB29;
}
.fond_orange {
	background : #DA6241;
}
.fond_rouge {
	background : #D12625;
}

.banner-article {
	background-size: 100% auto;
	background-position : 50% 50%;
	background-repeat : no-repeat;
	background-color: #ccc;
}

.noir {
	color : black;
}


.banner-article.odd {
	background-color: #bbb;
}

.banner-article.full, .banner-article.short, .banner-article.title {
	padding-top : 2em;
}

.calque {
	background : var(--calque-bg);
	text-shadow : 1px 1px 0 var(--calque-out), -1px 1px 0 var(--calque-out), 1px -1px 0 var(--calque-out), -1px -1px 0 var(--calque-out);
	line-height: normal; /* due to Roboto */
	/*backdrop-filter: blur(5px);*/
}


.banner-article:focus-within .calque {
	background-color: var(--calque-out-within) !important;
}

.banner-article a:hover {
	background-color: var(--calque-out) !important;
}

.no-images img { display : none }


audio {
	width : 100%;
}



@media screen and (max-width: 50em) {
		#ondemiroir_domain {
		 font-size: 1.5em;
	}

}


/*** SPECIFIC DSN 15 **/

.blognav__widgets li, .blogextra__widgets li {
		display: flex;
		padding: 0;
}

.blognav__widgets li ul, .blogextra__widgets li ul {
		margin-left: 0;
		padding: 0;
}

.sidebar a:link, .sidebar a:visited {
	flex: auto;
	padding: 0.25em;
}

.tags li {
	display : inline-block;
	padding : 0.25em;
	border-right: 1px solid gainsboro;
	margin:0.125em; 
	border-radius:0.5em;
} 

ul.tags li {
	border: 1px solid #777;
}

ul.tags li:hover, ul.tags li:active, ul.tags li .tag:focus,
ul.tags li a:hover, ul.tags li a:active, ul.tags li .tag a:focus {
	background : red;
	color : white;
}


.breadcrumb {
	display : flex;
	list-style: none;
	padding : 0;
}

.breadcrumb li {
	list-style: none;
	
	padding : 0 5px;
	flex : 0 1 auto;
}

.breadcrumb li:first-child {
	padding-left : 0px;
}

.breadcrumb li:last-child {
	padding-right : 0px;
}

.breadcrumb_categories:not(:first-child) {
	display: none;
}

.pagination {
	text-align : center;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}
.spacer {
		flex : 1 0 auto !important; /* OUI, JE SAIS */
}

.only-small {
	display : none;
}
.not-small {
	display : inline;
}

@media screen and (max-width: 40em) {

	.only-small {
		display : inline;
	}

	.not-small,
	.tags ul,
	.categories ul ul {
		display : none;
	}
}

.dc-page .post-date  {
		display : none;
}

.dc-page .banner-article {
		background : none;
		padding-top : 0px;
}


@media (min-width: 40em) {
	.flex {
			display : flex;
	}


	.flex.wrap {
			flex-wrap : wrap;
	}

	.flex article {
			flex : 1 1 20em;
			margin : 2px;
	}

}

@media screen and (min-width: 80.1em) {
	#wrapper {
		display : flex;
	}
}


#searchbox {
	display : flex;
	position : relative;
}

#searchbox input {
	flex : 1 0 auto;
}

#search {
	padding-top : 5.5em;
}



.blogextra__widgets article h3 {
	color: var(--link);
	text-transform: none;
}


/** assistant **/

	#bulle, #clippy {
			display : none;
	}
	.show_clippy #bulle, .show_clippy #clippy {
			display : block;
			position : absolute;
	}

	.show_clippy #bulle {        
			left : 100px;
			top : 50px;
			max-width: 300px;
			background: #ffa;
			color: black;
			font-size : 11px;
			border: black 1px solid;
			padding: 10px;
			border-radius: 20px 20px 20px 0px
	}

	.show_clippy #clippy {
			left : 0px;
			top : 100px;
			width : 124px;
			height : 93px;
			object-fit:  none;
	}

	#bulle a {
		color : #007 !important;
	}


	@media screen and (max-width: 400px) {
			.show_clippy #clippy {
					transform : scale(0.5);
			}

			.show_clippy #bulle {
					left : 0px;
			}
	}


/** Ajout de media dans le corps de l'article **/ 

figure, figure iframe, figure img {
	max-width : 100%;
	text-align : center;
}

cpu-audio {
	/*backdrop-filter: blur(5px);*/
}

@media (prefers-contrast: more) {
	body, #main, #motto, #header-control {
	 --cpu-background:#fff;
	 --cpu-color:#000;
	 --cpu-playing-background:#fff;
	 --cpu-playing-color:#000;
	 --cpu-error-background:#fff;
	 --cpu-error-color:#000;
	 --cpu-popup-background:#000;
	 --cpu-popup-color:#fff ;
	 --cpu-focus-background:#000;
	 --cpu-focus-color:#fff;
	 --cpu-cue:#000;
	 --cpu-timeline-limits:#000;
	 --cpu-elapse-width:160px;                   
	 --cpu-min-padding:16px;
	 --cpu-inner-shadow:none;
	 --cpu-color-transitions:0s;
	 --cpu-background-transitions:0s
	}

	*, *::placeholder {
	  color : #000 !important;
	  background : #fff !important;
	  text-shadow : none !important;
	  border-color : #000 !important;
	}

	a:hover , a:focus , a:active,
	button:hover , button:focus , button:active,
	{
	  outline : 2px solid #000 !important;
	  color : #fff !important;
	  background : #000 !important;
	}
}
